{% block muwa_search_structure_detail %}
    <sw-page class="muwa-backup-repository-tabs-detail">
        {% block muwa_search_structure_detail_smart_bar_actions %}
            <template #smart-bar-actions>
                <sw-button :routerLink="{ name: 'muwa.backup.repository.index'}">
                    {{ $tc('muwa-backup-repository.list.header.cancelButtonLabel') }}
                </sw-button>

                <sw-button-process
                    position-identifier="muwa-backup-repository"
                    :isLoading="isLoading"
                    :processSuccess="processSuccess"
                    variant="primary"
                    @process-finish="saveFinish"
                    @click="onClickSave"
                >
                    {{ $tc('muwa-backup-repository.list.header.saveButtonLabel') }}
                </sw-button-process>
                <sw-button-process
                        variant="ghost"
                        class="sw-settings-search__search-index-rebuild-button"
                        :is-loading="isBackupProcessInProgress"
                        :disabled="isBackupProcessDisabled"
                        :process-success="isBackupProcessSuccess"
                        @update:process-success="createFinish"
                        @click="onBackupProcess"
                >
                    {{ $tc('muwa-backup-repository.detail.startBackup') }}
                </sw-button-process>
            </template>
        {% endblock %}

        <template #content>
            {% block muwa_backup_repository_detail_content %}

                {% block muwa_search_structure_content_tabs %}
                    <sw-tabs default-item="repositoryList" class="muwa-backup-repository-content-tabs" position-identifier="muwa-backup-repository-content-tabs">
                        <template #default="{ active }">
                            <sw-tabs-item
                                key="backupRepositoryConfig"
                                :active-tab="active"
                                :route="{ name: 'muwa.backup.repository.detail', params: { id: backupRepository.id, tab: 'backupRepositoryConfig' } }"
                            >
                                {{ $tc('muwa-backup-repository.tabs.config') }}
                            </sw-tabs-item>
                            <sw-tabs-item
                                key="backupRepositoryChecks"
                                :active-tab="active"
                                :route="{ name: 'muwa.backup.repository.detail', params: { id: backupRepository.id, tab: 'backupRepositoryChecks' } }"
                            >
                                {{ $tc('muwa-backup-repository.tabs.checks') }}
                            </sw-tabs-item>
                            <sw-tabs-item
                                    key="backupRepositorySnapshots"
                                    :active-tab="active"
                                    :route="{ name: 'muwa.backup.repository.detail', params: { id: backupRepository.id, tab: 'backupRepositorySnapshots' } }"
                            >
                                {{ $tc('muwa-backup-repository.tabs.snapshots') }}
                            </sw-tabs-item>
                        </template>
                    </sw-tabs>
                {% endblock %}

                <sw-card-view>
                    <sw-card positionIdentifier="muwaBackupRepository" v-if="backupRepository && tab === 'backupRepositoryConfig'" :title="$tc('muwa-backup-repository.detail.generalLabel')">
                        <sw-switch-field
                            v-if="isV6600"
                            :label="$tc('muwa-backup-repository.detail.activeLabel')"
                            v-model:value="backupRepository.active"
                        >
                        </sw-switch-field>
                        <sw-switch-field
                            v-if="isV6500"
                            :label="$tc('muwa-backup-repository.detail.activeLabel')"
                            v-model="backupRepository.active"
                        >
                        </sw-switch-field>

                        <sw-text-field
                            v-if="isV6600"
                            :label="$tc('muwa-backup-repository.detail.nameLabel')"
                            v-model:value="backupRepository.name"
                            maxlength="70"
                            validation="required"
                            required
                        >
                        </sw-text-field>
                        <sw-text-field
                            v-if="isV6500"
                            :label="$tc('muwa-backup-repository.detail.nameLabel')"
                            v-model="backupRepository.name"
                            maxlength="70"
                            validation="required"
                            required
                        >
                        </sw-text-field>

                        <sw-select-field
                            v-if="backupRepository && isV6600"
                            v-model:value="backupRepository.type"
                            validation="required"
                            required
                            :disabled="false"
                            type="select"
                            :label="$tc('lightson-pseudo-product.detail.card-base.type')"
                        >
                            <option slot="options"
                                v-for="option in type"
                                :key="option.value"
                                :value="option.value"
                            >
                                {{ option.label }}
                            </option>
                        </sw-select-field>
                        <sw-select-field
                            v-if="backupRepository && isV6500"
                            v-model="backupRepository.type"
                            validation="required"
                            required
                            :disabled="true"
                            type="select"
                            :label="$tc('muwa-backup-repository.detail.databaseTypeLabel')"
                        >
                            <option slot="options"
                                v-for="option in type"
                                :key="option.value"
                                :value="option.value"
                            >
                                {{ option.label }}
                            </option>
                        </sw-select-field>

                        <sw-text-field
                            v-if="isV6600"
                            :label="$tc('muwa-backup-repository.detail.repositoryPathLabel')"
                            v-model:value="backupRepository.repositoryPath"
                            maxlength="255"
                            validation="required"
                            required
                            :disabled="true"
                        >
                        </sw-text-field>
                        <sw-text-field
                            v-if="isV6500"
                            :label="$tc('muwa-backup-repository.detail.repositoryPathLabel')"
                            v-model="backupRepository.repositoryPath"
                            maxlength="255"
                            validation="required"
                            required
                            :disabled="true"
                        >
                        </sw-text-field>

                        <sw-text-field
                            v-if="isV6600"
                            :label="$tc('muwa-backup-repository.detail.restorePathLabel')"
                            v-model:value="backupRepository.restorePath"
                            maxlength="255"
                            validation="required"
                            required
                        >
                        </sw-text-field>
                        <sw-text-field
                            v-if="isV6500"
                            :label="$tc('muwa-backup-repository.detail.restorePathLabel')"
                            v-model="backupRepository.restorePath"
                            maxlength="255"
                            validation="required"
                            required
                        >
                        </sw-text-field>

                    </sw-card>
                    <sw-card positionIdentifier="muwaBackupRepositoryBackupPaths" v-if="backupRepository && tab === 'backupRepositoryConfig'" :title="$tc('muwa-backup-repository.detail.backupPaths')">
                        <sw-button
                            v-tooltip="{
                                message: $tc('sw-import-export.profile.addMappingTooltipText'),
                                showOnDisabledElements: true
                            }"
                            class="sw-import-export-edit-profile-modal-mapping__add-action"
                            variant="ghost"
                            size="small"
                            @click="onAddBackupPath"
                        >
                            {{ $tc('muwa-backup-repository.detail.addBackupPathLabel') }}
                        </sw-button>
                        {% block muwa_search_structure_detail_backup_paths_description %}
                            <div
                                v-html="$tc('muwa-backup-repository.detail.backupPathsDescription')"
                                class="muwa-backup-repository-detail-backup-paths__description"
                            ></div>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block wuwa_search_structure_mapping_grid %}
                            <sw-data-grid
                                v-if="backupPathExist"
                                :data-source="getBackupPaths"
                                :compact-mode="false"
                                :show-selection="false"
                                :columns="backupPathsColumns"
                                plain-appearance
                                class="sw-import-export-edit-profile-modal-mapping__grid"
                            >
                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block wuwa_backup_repository_backup_paths_grid_data_type_column %}
                                    <template #column-backupPath="{ item, itemIndex }">
                                        <sw-text-field
                                            v-if="isV6600"
                                            v-model:value="item.backupPath"
                                            :name="`backupPath-${itemIndex}`"
                                            :disabled="false"
                                        />
                                        <sw-text-field
                                            v-if="isV6500"
                                            v-model="item.backupPath"
                                            :name="`backupPath-${itemIndex}`"
                                            :disabled="false"
                                        />
                                    </template>
                                {% endblock %}
                                {% block wuwa_backup_repository_compress_grid_data_type_column %}
                                    <template #column-compress="{ item, itemIndex }">
                                        <sw-switch-field
                                            v-if="isV6600"
                                            :label="$tc('muwa-backup-repository.detail.compressLabel')"
                                            :name="`compress-${itemIndex}`"
                                            v-model:value="item.compress"
                                        >
                                        </sw-switch-field>
                                        <sw-switch-field
                                            v-if="isV6500"
                                            :label="$tc('muwa-backup-repository.detail.compressLabel')"
                                            :name="`compress-${itemIndex}`"
                                            v-model="item.compress"
                                        >
                                        </sw-switch-field>
                                    </template>
                                {% endblock %}

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block wuwa_search_structure_mapping_grid_context_menu_delete %}
                                    <template #actions="{ item }">
                                        <sw-context-menu-item
                                            variant="danger"
                                            :disabled="false"
                                            @click="onDeleteBackupPath(item.id)"
                                        >
                                            {{ $tc('muwa-backup-repository.backupPaths.deletePathLabel') }}
                                        </sw-context-menu-item>
                                    </template>
                                {% endblock %}

                            </sw-data-grid>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block wuwa_search_structure_mapping_empty_state %}
                            <sw-empty-state
                                v-else
                                class="sw-import-export-edit-profile-modal-mapping__empty-state"
                                :title="$tc('muwa-backup-repository.detail.pathEmptyState')"
                                :absolute="false"
                                icon="regular-file"
                            />
                        {% endblock %}
                    </sw-card>

                    <sw-card positionIdentifier="muwaBackupRepositoryForget" v-if="backupRepository && tab === 'backupRepositoryConfig'" :title="$tc('muwa-backup-repository.detail.forget')">
                        {% block muwa_search_structure_detail_forget_description %}
                            <div
                                v-html="$tc('muwa-backup-repository.detail.forgetDescription')"
                                class="muwa-backup-repository-detail-forget__description"
                            ></div>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block wuwa_backup_repository_forget_list %}
                            {% block wuwa_backup_repository_backup_paths_list_forget_daily_column %}
                                <sw-number-field
                                    v-if="isV6600"
                                    v-model:value="backupRepository.forgetDaily"
                                    :name="dailyForget"
                                    :label="$tc('muwa-backup-repository.detail.forgetDailyLabel')"
                                    :disabled="false"
                                />
                                <sw-number-field
                                    v-if="isV6500"
                                    v-model="backupRepository.forgetDaily"
                                    :name="dailyForget"
                                    :label="$tc('muwa-backup-repository.detail.forgetDailyLabel')"
                                    :disabled="false"
                                />
                            {% endblock %}
                            {% block wuwa_backup_repository_backup_paths_list_forget_weekly_column %}
                                <sw-number-field
                                    v-if="isV6600"
                                    v-model:value="backupRepository.forgetWeekly"
                                    :name="dailyForget"
                                    :label="$tc('muwa-backup-repository.detail.forgetWeeklyLabel')"
                                    :disabled="false"
                                />
                                <sw-number-field
                                    v-if="isV6500"
                                    v-model="backupRepository.forgetWeekly"
                                    :name="dailyForget"
                                    :label="$tc('muwa-backup-repository.detail.forgetWeeklyLabel')"
                                    :disabled="false"
                                />
                            {% endblock %}
                            {% block wuwa_backup_repository_backup_paths_list_forget_monthly_column %}
                                <sw-number-field
                                    v-if="isV6600"
                                    v-model:value="backupRepository.forgetMonthly"
                                    :name="dailyForget"
                                    :label="$tc('muwa-backup-repository.detail.forgetMonthlyLabel')"
                                    :disabled="false"
                                />
                                <sw-number-field
                                    v-if="isV6500"
                                    v-model="backupRepository.forgetMonthly"
                                    :name="dailyForget"
                                    :label="$tc('muwa-backup-repository.detail.forgetMonthlyLabel')"
                                    :disabled="false"
                                />
                            {% endblock %}
                            {% block wuwa_backup_repository_backup_paths_list_forget_yearly_column %}
                                <sw-number-field
                                    v-if="isV6600"
                                    v-model:value="backupRepository.forgetYearly"
                                    :name="dailyForget"
                                    :label="$tc('muwa-backup-repository.detail.forgetYearlyLabel')"
                                    :disabled="false"
                                />
                                <sw-number-field
                                    v-if="isV6500"
                                    v-model="backupRepository.forgetYearly"
                                    :name="dailyForget"
                                    :label="$tc('muwa-backup-repository.detail.forgetYearlyLabel')"
                                    :disabled="false"
                                />
                            {% endblock %}
                        {% endblock %}

                    </sw-card>

                    {# Tab Checks #}
                    <sw-entity-listing
                        v-if="backupRepository && tab === 'backupRepositoryChecks'"
                        :isLoading="isLoading"
                        :items="backupRepositoryChecks"
                        :repository="backupRepositoryChecksRepository"
                        :columns="backupChecksColumns"
                        :showActions="false"
                        :showSelection="false"
                        :showSettings="false"
                        :sort-by="sortBy"
                        :sort-direction="sortDirection"
                    >
                        <template #column-checkStatus="{item}">
                            <div v-if="item.checkStatus" :title="item.checkStatus">
                                {{ item.checkStatus }}
                            </div>
                        </template>
                        <template #column-createdAt="{ item }">
                            {{ dateFilter(item.createdAt, { hour: '2-digit', minute: '2-digit', second: '2-digit' }) }}
                        </template>
                    </sw-entity-listing>

                    {# Tab Snapshots #}
                    <sw-entity-listing
                            v-if="backupRepository && tab === 'backupRepositorySnapshots'"
                            :isLoading="isLoading"
                            :items="backupRepositorySnapshots"
                            :repository="backupRepositorySnapshotsRepository"
                            :columns="backupSnapshotsColumns"
                            :showActions="false"
                            :showSelection="false"
                            :showSettings="false"
                            :sort-by="sortBy"
                            :sort-direction="sortDirection"
                    >
                        <template #column-snapshot-id="{item}">
                            <div v-if="item.snapshotShortId" :title="item.snapshotShortId">
                                {{ item.snapshotShortId }}
                            </div>
                        </template>
                        <template #column-snapshot-paths="{item}">
                            <div v-if="item.paths" :title="item.paths">
                                {{ item.paths }}
                            </div>
                        </template>
                        <template #column-snapshot-size="{item}">
                            <div v-if="item.size" :title="item.size">
                                {{ item.size }}
                            </div>
                        </template>
                        <template #column-createdAt="{ item }">
                            {{ dateFilter(item.createdAt, { hour: '2-digit', minute: '2-digit', second: '2-digit' }) }}
                        </template>
                        <template #actions="{ item }">
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block wuwa_backup_repository_list_content_listing_actions %}
                                <sw-context-menu-item @click="restoreSnapshot(item)">
                                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                    {% block wuwa_backup_repository_list_content_listing_action_show_label %}
                                        {{ $tc('muwa-backup-repository.list.restoreLabel') }}
                                    {% endblock %}
                                </sw-context-menu-item>
                            {% endblock %}
                        </template>
                    </sw-entity-listing>

                </sw-card-view>
            {% endblock %}
        </template>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block muwa_backup_repository_list_sidebar %}
            <template #sidebar>
                <sw-sidebar class="muwa-backup-repository-list__sidebar" v-if="tab === 'backupRepositoryChecks' || tab === 'backupRepositorySnapshots'">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block muwa_backup_repository_list_sidebar_refresh %}
                        <sw-sidebar-item
                                icon="regular-undo"
                                :title="$tc('muwa-backup-repository.list.titleSidebarItemRefresh')"
                                @click="onRefresh"
                        />
                    {% endblock %}
                </sw-sidebar>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}